`1` Task- 1

`2` Registration I'd: SIRSS2131**

`3` Name: REKHA

In [1]:
num = int(input("Enter the number of rows: "))
for i in range(num,0,-1):
    for j in range(0,num-i):
          print(end="")
    for j in range(0,i):
        print("5",end="")
    print()

Enter the number of rows: 5
55555
5555
555
55
5

In [2]:
var = 6
for x in range(var,0,-1):
    for y in range(x):
        print(y,end="")
    print()

012345
01234
0123
012
01
0

In [3]:
var = -1
for x in range(6):
    for y in range(x):
        print(var,end='')
    var = var + 2
    print('')

1
33
555
7777
99999

In [4]:
i=1
while(i<=5): 
    j=i
    while(j>=1):
        print(j, end = ' ')
        j=j-1
    i=i+1
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
i = 1
k = 1
while(i<=4):
    j=i
    for x in range(0,j,1):
        print(k,end=' ')
        k = k + 1
    j = j + 1
    print()
    i = i + 1

1
2 3
4 5 6
7 8 9 10

In [6]:
for x in range(6):
    for y in range(x,0,-1):
        print(y,end='')
    print('')
for i in range(1):
    for j in range(0, i+1):
        print(' ', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

1
21
321
4321
54321

In [7]:
var = 5
inc = 0
for x in range(var,0,-1):
    for y in range(var):
        if(inc==0):
            print(y+1,end=' ')
        if(inc!=0):
            if(y<inc):
                y = inc
            print(y+1,end=' ')
    inc = inc + 1
    print('')

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
i = 1
k = 1
while(i<=8):
    m = 1
    j=i
    for x in range(0,j,1):
        print(k*(m),end=' ')
        m = m + 1   
    j = j + 1
    k = k + 1
    print()
    i = i + 1

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
var =  7
k = var - 1
for x in range(var,0,-1):
    for y in range(0,k):
        print(end=' ')
    k = k + 1

    for y in range(var,0,-1):
        print("* ",end="")
    var = var - 1
    print("\r")

      * * * * * * *
       * * * * * *
        * * * * *
         * * * *
          * * *
           * *
            *

In [10]:
var =  7
k = var - 1
for x in range(0, var):
    for y in range(0,k):
         print(end=' ')
    k = k - 1

    for y in range(0, x+1):
        print("* ",end="")
    print("\r")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [11]:
var =  7
for x in range(0, var):
    for y in range(0, x+1):
        print("* ",end="")
    print("\r")
print(" ")
for x in range(0, var):
    for y in range(var,0,-1):
        print("* ",end="")
    var = var - 1
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
var = 5
for x in range(0,var):
    for y in range(0,x+1):
        print("* ",end="")
    print("\r")
for x in range(0,var-1):
    for y in range(var-1,0,-1):
        print("* ",end="")
    var = var - 1
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
var = 5
for x in range(0,var+1):
    for y in range(0, var-x+1):
        print(' ', end='')
    for y in range(0,x+1):
        print("*",end="")
    print("\r")
r = var
k = var - 1
for x in range(0,var+1):
    for y in range(0,var+x-4):
        print(' ',end='')
    k = k - 1
    for y in range(r+1,0,-1):
        print("*",end="")
    r = r - 1
    print("\r")

      *
     **
    ***
   ****
  *****
 ******
 ******
  *****
   ****
    ***
     **
      *

In [14]:
rows = 5
k = rows - 2  
for x in range(rows, -1 , -1):  
    for y in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, x+1):  
        print("* " , end="")  
    print()      
k2 = 2 * rows  - 2  
for x in range(0 , rows+1):  
    for y in range(0 , k2):  
        print(end=" ")  
    k2 = k2 - 1  
    for y in range(0, x + 1):  
        print("* ", end="")  
    print()

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [15]:
rows = 5    
k = 2 * rows  - 2  
for x in range(0 , rows+1):  
    for y in range(0 , k):
        print('*',end="")  
    for y in range(0, x+x,1):  
        print("_", end="")  
    for y in range(0 , k):
        print('*',end="") 
    k = k - 1
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***